In [1]:
#Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#Refrence to Csv files 
cab_ride_df = pd.read_csv("Cab-Weather-Data/cab_rides.csv")
weather_df = pd.read_csv("Cab-Weather-Data/weather.csv")

In [3]:
# Cleaning Weather Data
# The timestamps were listed in epoch formatting, and needs to be converted to a readable date format

weather_df["date"] = pd.to_datetime(weather_df["time_stamp"], unit="s")

# Reorder the columns for readability
clean_weather_df = weather_df[["date","location","temp","clouds","pressure","rain","humidity","wind"]]


# Reset the index and change the location header to source. This is so our merge will align on common time point & weather conditions at pick up location
new_weather_df = clean_weather_df.reset_index(drop=True)
new_weather_df.rename(columns={"location":"source"}, inplace=True)
new_weather_df.head()

,date,source,temp,clouds,pressure,rain,humidity,wind
0,2018-12-16 23:45:01,Back Bay,42.42,1.0,1012.14,0.1228,0.77,11.25
1,2018-12-16 23:45:01,Beacon Hill,42.43,1.0,1012.15,0.1846,0.76,11.32
2,2018-12-16 23:45:01,Boston University,42.50,1.0,1012.15,0.1089,0.76,11.07
3,2018-12-16 23:45:01,Fenway,42.11,1.0,1012.13,0.0969,0.77,11.09
4,2018-12-16 23:45:01,Financial District,43.13,1.0,1012.14,0.1786,0.75,11.49

In [4]:
# Cleaning Car Ride Data
# The epoch timestamp in this table is represented in milliseconds, so we divide by 1000 to find the time in value of seconds
cab_ride_df["date"]=pd.to_datetime(cab_ride_df["time_stamp"]/1000, unit="s")

# Removing unwanted columns like id and product_id
clean_cab_df = cab_ride_df[["date","source","destination","distance","price","surge_multiplier","cab_type", "name"]]

# Resetting the index
new_cab_df=clean_cab_df.reset_index(drop=True)
new_cab_df.head()

,date,source,destination,distance,price,surge_multiplier,cab_type,name
0,2018-12-16 09:30:07.890000128,Haymarket Square,North Station,0.44,5.0,1.0,Lyft,Shared
1,2018-11-27 02:00:23.676999936,Haymarket Square,North Station,0.44,11.0,1.0,Lyft,Lux
2,2018-11-28 01:00:22.197999872,Haymarket Square,North Station,0.44,7.0,1.0,Lyft,Lyft
3,2018-11-30 04:53:02.749000192,Haymarket Square,North Station,0.44,26.0,1.0,Lyft,Lux Black XL
4,2018-11-29 03:49:20.223000064,Haymarket Square,North Station,0.44,9.0,1.0,Lyft,Lyft XL

In [5]:
#Merge the datesets into a single one based on time_stamp and location
cleaned_merged_df = pd.merge_asof(new_cab_df.sort_values("date"), new_weather_df.sort_values("date"), 
                            left_by=  ['source' ],right_by= ['source' ] ,
                            left_on=  ['date']   ,right_on= ['date'] )
cleaned_merged_df.head()

,date,source,destination,distance,price,surge_multiplier,cab_type,name,temp,clouds,pressure,rain,humidity,wind
0,2018-11-26 03:40:46.318000128,Boston University,Theatre District,3.03,34.0,1.0,Lyft,Lux Black XL,41.07,0.86,1014.39,NaN,0.92,1.36
1,2018-11-26 03:40:46.319000064,Theatre District,North End,1.57,NaN,1.0,Uber,Taxi,40.80,0.87,1014.39,NaN,0.93,1.55
2,2018-11-26 03:40:46.319000064,South Station,Theatre District,1.30,18.5,1.0,Uber,Black,40.86,0.87,1014.39,NaN,0.93,1.60
3,2018-11-26 03:40:46.320000000,Theatre District,Fenway,2.71,19.5,1.0,Uber,UberX,40.80,0.87,1014.39,NaN,0.93,1.55
4,2018-11-26 03:40:46.320000000,Northeastern University,Beacon Hill,2.43,10.5,1.0,Lyft,Lyft,40.81,0.89,1014.35,NaN,0.93,1.36

In [6]:
#dataframe info 
cleaned_merged_df.describe

<bound method NDFrame.describe of                                 date                   source  \
0      2018-11-26 03:40:46.318000128        Boston University
1      2018-11-26 03:40:46.319000064         Theatre District
2      2018-11-26 03:40:46.319000064            South Station
3      2018-11-26 03:40:46.320000000         Theatre District
4      2018-11-26 03:40:46.320000000  Northeastern University
...                              ...                      ...
693066 2018-12-18 19:15:10.943000064  Northeastern University
693067 2018-12-18 19:15:10.943000064              Beacon Hill
693068 2018-12-18 19:15:10.943000064  Northeastern University
693069 2018-12-18 19:15:10.943000064  Northeastern University
693070 2018-12-18 19:15:10.943000064  Northeastern University

             destination  distance  price  surge_multiplier cab_type  \
0       Theatre District      3.03   34.0               1.0     Lyft
1              North End      1.57    NaN               1.0     Uber
2       Theatre District      1.30   18.5               1.0     Uber
3                 Fenway      2.71   19.5               1.0     Uber
4            Beacon Hill      2.43   10.5               1.0     Lyft
...                  ...       ...    ...               ...      ...
693066       Beacon Hill      2.40   10.5               1.0     Lyft
693067     South Station      2.48   14.0               1.0     Uber
693068       Beacon Hill      2.40   16.5               1.0     Lyft
693069       Beacon Hill      2.40   16.5               1.0     Lyft
693070       Beacon Hill      2.40   32.5               1.0     Lyft

                name   temp  clouds  pressure  rain  humidity   wind
0       Lux Black XL  41.07    0.86   1014.39   NaN      0.92   1.36
1               Taxi  40.80    0.87   1014.39   NaN      0.93   1.55
2              Black  40.86    0.87   1014.39   NaN      0.93   1.60
3              UberX  40.80    0.87   1014.39   NaN      0.93   1.55
4               Lyft  40.81    0.89   1014.35   NaN      0.93   1.36
...              ...    ...     ...       ...   ...       ...    ...
693066          Lyft  30.91    0.00   1012.34   NaN      0.46  13.06
693067        UberXL  30.80    0.00   1012.32   NaN      0.46  13.08
693068           Lux  30.91    0.00   1012.34   NaN      0.46  13.06
693069       Lyft XL  30.91    0.00   1012.34   NaN      0.46  13.06
693070  Lux Black XL  30.91    0.00   1012.34   NaN      0.46  13.06

[693071 rows x 14 columns]>

In [7]:
# To ensure we have all rows that have weather conditions present, we want to drop all null values in the Temperature column
# Null values for rain or wind is ok because these are logical weather conditions
final_df=cleaned_merged_df.dropna(subset=["temp"])
final_df=final_df.reset_index(drop=True)

# With the null values in other rows, we can fill them with "0"
final_df.fillna(0,inplace=True)
final_df.head()

,date,source,destination,distance,price,surge_multiplier,cab_type,name,temp,clouds,pressure,rain,humidity,wind
0,2018-11-26 03:40:46.318000128,Boston University,Theatre District,3.03,34.0,1.0,Lyft,Lux Black XL,41.07,0.86,1014.39,0.0,0.92,1.36
1,2018-11-26 03:40:46.319000064,Theatre District,North End,1.57,0.0,1.0,Uber,Taxi,40.80,0.87,1014.39,0.0,0.93,1.55
2,2018-11-26 03:40:46.319000064,South Station,Theatre District,1.30,18.5,1.0,Uber,Black,40.86,0.87,1014.39,0.0,0.93,1.60
3,2018-11-26 03:40:46.320000000,Theatre District,Fenway,2.71,19.5,1.0,Uber,UberX,40.80,0.87,1014.39,0.0,0.93,1.55
4,2018-11-26 03:40:46.320000000,Northeastern University,Beacon Hill,2.43,10.5,1.0,Lyft,Lyft,40.81,0.89,1014.35,0.0,0.93,1.36

In [8]:
# Adding the day of the week to our table to see if that may have any correlation to weather
final_df["day of week"]=final_df["date"].dt.day_name()
final_df.head()

,date,source,destination,distance,price,surge_multiplier,cab_type,name,temp,clouds,pressure,rain,humidity,wind,day of week
0,2018-11-26 03:40:46.318000128,Boston University,Theatre District,3.03,34.0,1.0,Lyft,Lux Black XL,41.07,0.86,1014.39,0.0,0.92,1.36,Monday
1,2018-11-26 03:40:46.319000064,Theatre District,North End,1.57,0.0,1.0,Uber,Taxi,40.80,0.87,1014.39,0.0,0.93,1.55,Monday
2,2018-11-26 03:40:46.319000064,South Station,Theatre District,1.30,18.5,1.0,Uber,Black,40.86,0.87,1014.39,0.0,0.93,1.60,Monday
3,2018-11-26 03:40:46.320000000,Theatre District,Fenway,2.71,19.5,1.0,Uber,UberX,40.80,0.87,1014.39,0.0,0.93,1.55,Monday
4,2018-11-26 03:40:46.320000000,Northeastern University,Beacon Hill,2.43,10.5,1.0,Lyft,Lyft,40.81,0.89,1014.35,0.0,0.93,1.36,Monday

In [9]:
# Formatting some columns to show accurate values
final_df["clouds"]=final_df["clouds"]*100
final_df["humidity"]=final_df["humidity"]*100

In [10]:
# Pretty-fying our final dataframe by including units of measurement for easy analysis

final_df = final_df.rename(columns={"date":"Date","day of week":"Weekday","source":"Pick Up Location","destination":"Destination",
                                    "distance":"Distance (m)","price":"Price ($)","surge_multiplier":"Surge Multiplier",
                                    "cab_type":"Rideshare App","name":"Ride Type","temp":"Temp (C)",
                                    "clouds":"Cloudiness (%)","pressure":"Pressure (MB)","rain":"Rainfall (in)",
                                    "humidity":"Humidity (%)","wind":"Wind Speed (mph)"})

final_df = final_df[["Date","Weekday","Pick Up Location","Destination","Distance (m)","Price ($)","Surge Multiplier","Rideshare App","Ride Type",
                     "Temp (C)","Cloudiness (%)","Pressure (MB)","Rainfall (in)","Humidity (%)","Wind Speed (mph)"]]
final_df.head()

,Date,Weekday,Pick Up Location,Destination,Distance (m),Price ($),Surge Multiplier,Rideshare App,Ride Type,Temp (C),Cloudiness (%),Pressure (MB),Rainfall (in),Humidity (%),Wind Speed (mph)
0,2018-11-26 03:40:46.318000128,Monday,Boston University,Theatre District,3.03,34.0,1.0,Lyft,Lux Black XL,41.07,86.0,1014.39,0.0,92.0,1.36
1,2018-11-26 03:40:46.319000064,Monday,Theatre District,North End,1.57,0.0,1.0,Uber,Taxi,40.80,87.0,1014.39,0.0,93.0,1.55
2,2018-11-26 03:40:46.319000064,Monday,South Station,Theatre District,1.30,18.5,1.0,Uber,Black,40.86,87.0,1014.39,0.0,93.0,1.60
3,2018-11-26 03:40:46.320000000,Monday,Theatre District,Fenway,2.71,19.5,1.0,Uber,UberX,40.80,87.0,1014.39,0.0,93.0,1.55
4,2018-11-26 03:40:46.320000000,Monday,Northeastern University,Beacon Hill,2.43,10.5,1.0,Lyft,Lyft,40.81,89.0,1014.35,0.0,93.0,1.36

In [11]:
# Save the dataframe into a csv file to analyze further
final_df.to_csv("rideshare_vs_weather.csv", index=False)